/* From DUC */
body { font-family: "arial", "sans-serif"; font-size: 11px; }
table, thead, tbody, tr, td, th { font-size: inherit; font-family: inherit; }
#main { display:table-cell; }
#index { border-bottom: solid 1px #777777; }
#index table td { padding-left: 5px; }
#graph { float: left; }
#list { float: left; }
#list table { margin-left: auto; margin-right: auto; }
#list table td { padding-left: 5px; }
#list table td.name, th.name { text-align: left; }
#list table td.size, th.size { text-align: right; }
#tooltip { display: none; position: absolute; background-color: white;
           border: solid 1px black; padding: 3px; white-space: nowrap; }

/* Additional styles */
body {
   background: #006680;
   background: linear-gradient(0deg,rgba(0, 102, 128, 1) 0%, rgba(192, 201, 207, 1) 100%);
   min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

h1, h2, h3 {
  color: #006680;
  text-align: left;
}

h1 {
    margin: 0;
}

div {
  border: 0px;
  padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.snapshot {
  padding: 6px;
}

.not_selected_snapshot {
  background-color: rgba(192, 201, 207, 1);
  padding: 5px;
  border: 1px solid black;
}

.selected_snapshot {
  background-color: #006680;
  padding: 5px;
  border: 1px solid black;
}

.snapshot_link {
  text-decoration: none;
  color: black;
}

.selected_snapshot_link {
  color: white;
}

#sidebar {
  width: 250px;
  float: left;
  border-right: 1px solid;
}

#content_header_div {
}

.content_header {
  margin-bottom: 0;
}

#content {
  
}

#error {
  margin-top: 100px;
}

.error {
  color: red;
}
